<nav>
    <div class="navbar bg-dark navbar-dark navbar-expand-md fixed-top">
        <div class="container-fluid">
            <a href="" class="navbar-brand">
                <img src="https://www.firstfiddle.in/assets/images/ff-logo-02.png" class="web-logo" >
                <img src="https://www.firstfiddle.in/assets/images/logo-for-mobile.png" class="mobile-logo">
            </a>
    
            <!-- mobile view -->
    
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#aa">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- mobile view end -->
    
            <!-- menu start -->
            <div class="navbar-collapse collapse justify-content-end" id=aa>
                <ul class="navbar-nav">
                    <li><a routerLink="/" class="nav-link">HOME</a></li>
                    <li><a routerLink="about" class="nav-link">ABOUT</a></li>
                    <li><a routerLink="brand" class="nav-link">BRANDS</a></li>
                    <li><a routerLink="ourteam" class="nav-link">OUR TEAM</a></li>
                    <li><a routerLink="pressrelease" class="nav-link">PRESS RELEASE</a></li>
                    <li><a routerLink="contact" class="nav-link">CONTACT</a></li>
                    <li><a routerLink="carrer" class="nav-link">CARRERS</a></li>
                    <li><a routerLink="franchise" class="nav-link" style="border: 3px solid orange;">FRANCHISE</a></li>
                </ul>
            </div>
            <!-- menu end -->
        </div><!--container-fluid end-->
    </div> <!-- nav bar div end -->
</nav>
<router-outlet></router-outlet>
