<footer>
    <div class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5 text-center">
                    <img src="https://www.firstfiddle.in/assets/images/ff-logo-02.png" class="img1">
                </div>
                <div class=col-md-7>
                    <h1><span style="color: #ffad00;">CONTACT</span> US</h1>
                    <p>We're a team focusing on redefining the way the hospitality industry works by bringing in concept based restaurants across India. We are truly committed to catering to the ever-changing cosmopolitan taste of the customer and revolutioning the F & B industry!</p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h5 class="h5">Address</h5>
                                <p>6, Chanakyapuri Shopping Complex, 48, Malcha Marg, New Delhi 110021</p>
                            </div>
                            <div class="col-md-6">
                                <h5 class="h5">Franchise Enquiry</h5>
                                <p>Mobile:<span style="color: #ffad00;"> +91 9313663486</span><br>Email: <span style="color: #ffad00;">franchise@firstfiddle.in</span></p>
                            </div>
                            <div class="col-md-6">
                                <h5 class="h5">HR Enquiry</h5>
                                <p>Mobile: <span style="color: #ffad00;">+91 9313663486</span><br>Email:<span style="color: #ffad00;">hr@firstfiddle.in</span></p>
                                <i class="fa-brands fa-linkedin text-warning"></i>         
                                 <i class="fa-brands fa-facebook-f text-warning"></i>
                                <i class="fa-brands fa-twitter text-warning"></i>
                                <i class="fa-brands fa-instagram text-warning"></i>
                                
    
                            </div>
                            <div class="col-md-6">
                                <h5 class="h5">Other Enquiry</h5>
                                <p>Email: <span style="color: #ffad00;">customercare@firstfiddle.in</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer1">
        <div class="container-fluid">
            <p class="p1">PRIVACY POLICY | TERMS AND CONDITIONS | BLOG<br>COPYRIGHT © 2021 FIRST FIDDLE F&B PRIVATE LIMITED</p>
        </div>
    </div>
</footer>
