<p>classbinding works!</p>

<div class="p-4 bg-danger text-white text-center">
    <h1>Attribute Direction in Angular 8</h1>
    <ul style="list-style-type: none">
      <li class="display-4">NgStyle</li>
      <li class="display-4">NgClass</li>
    </ul>
</div>

<div class="container mt-5">
    <button [ngStyle]="{ color: 'blue'}">Submit Form</button>
    <button [ngStyle]="mystyle">Submit Form1</button>
</div>

<h3>ng class</h3>
<div class="container mt-5 text-center">
    <p [ngClass]="'color fontme borderme'">
        pninfisis my company is : pninfoysis 25 30 fri 14 2020 11:53:00 GMT+0530 (India standard time)pninfoysis my company is:pninfoysis 25 30 fri feb 14 2020 11:52:09 GMT+0530  (India standard time)pninfoysis my company is:pninfoysis 25 30 fri feb 14 2020 11:52:09 GMT+0530 pninfoysis my company is:pninfoysis 25 30 fri feb 14 2020 11:52:09 GMT+0530  (India standard time)pninfoysis my company is:pninfoysis 25 30 pninfoysis my company is:pninfoysis 25 30 fri feb 14 2020 11:52:09 GMT+0530  (India standard time)pninfoysis my company is:pninfoysis 25 30 pninfoysis my company is:pninfoysis 25 30 pninfoysis my company is:pninfoysis 25 30 fri feb 14 2020 11:52:09 GMT+0530  (India standard time)pninfoysis my company is:pninfoysis 25 30 
    </p>

    <p [ngClass]="myclass">
        pninfisis my company is : pninfoysis 25 30 fri 14 2020 11:53:00 GMT+0530 (India standard time)pninfoysis my company is:pninfoysis 25 30 fri feb 14 2020 11:52:09 GMT+0530  (India standard time)pninfoysis my company is:pninfoysis 25 30 fri feb 14 2020 11:52:09 GMT+0530 pninfoysis my company is:pninfoysis 25 30 fri feb 14 2020 11:52:09 GMT+0530  (India standard time)pninfoysis my company is:pninfoysis 25 30 pninfoysis my company is:pninfoysis 25 30 fri feb 14 2020 11:52:09 GMT+0530  (India standard time)pninfoysis my company is:pninfoysis 25 30 pninfoysis my company is:pninfoysis 25 30 pninfoysis my company is:pninfoysis 25 30 fri feb 14 2020 11:52:09 GMT+0530  (India standard time)pninfoysis my company is:pninfoysis 25 30 
    </p>
</div>

