<div class="container-fluid why">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-white display-2" style="font-weight:bold; font-family: 'prague'; margin-top: 290px;">CAREERS</h1>
            </div>
        </div>
    </div>
</div>

<!-- header image end -->


<!-- COME WORK WITH US! -->
<div class="container p-4">
    <h2 class="heading display-6">COME WORK<span class="text-warning">WITH US!</span></h2>
    <p class="p1">First Fiddle is all about innovation, creativity and understanding ever-changing consumer needs. The work environment enables both professional and personal growth.</p>
</div>


<!-- HOW TO APPLY! -->
<div class="container pe-4 ps-4 pb-4">
    <h2 class="heading display-6">HOW TO <span class="text-warning">APPLY!</span></h2>
    <p class="p1">First Fiddle is all about innovation, creativity and understanding ever-changing consumer needs. The work environment enables both professional and personal growth.</p>
</div>


<div class="container-fluid" style="color: #000000ad; ">
    <div class="row">
        <div class="col-md-6" style="padding: 0px 70px">
            <strong>Steep learning curve</strong><br>
            <p class="p1">Talent and merit are rewarded at First Fiddle Restaurants. Add value, and see yourself grow!</p><br>
            <strong>Growth opportunities</strong><br>
            <p class="p1">Talent and merit are rewarded at First Fiddle Restaurants. Add value, and see yourself grow!</p><br>
            <strong>Exciting work environment</strong><br>
            <p class="p1">Work in a highly motivated environment with talented people. A positive work environment, ensures a productive and happy you.</p>
            
        </div>
    
        <div class="col-md-6 mb-4 form">
            <h4>Share your Details</h4>
            <br>
            <label>Your Name:</label>
            <input type="text" name="" placeholder="Name" class="form-control"><br>
            <label>Your Email:</label>
            <input type="email" name="" placeholder="Email" class="form-control"><br>
            <label>Your Phone:</label>
            <input type="phone" name="" placeholder="Phone" class="form-control"><br>
            <label>Your Message:</label>
            <textarea class="form-control" rows="2" placeholder="Email"></textarea><br>
            <button class="btn btn-warning">Submit</button>
        </div>
    </div>
</div>

