
    <!-- header image -->


    <div class="container-fluid why">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-white display-3" style="font-weight:bold; font-family: 'prague'; margin-top: 290px;">PRESS RELEASE</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- header image end -->

    <!-- OFFLINE -->
     
     <div class="container  p-4" >
         <img src="https://www.firstfiddle.in/assets/images/newspaper.svg" width="30px" style="margin-left: 270px;">&nbsp;&nbsp;  OFFLINE
         <hr style="margin-right:650px; margin-left: 20px;">
         <div class="row p-4">
             <div class="col-md-3 mb-4">
                 <img src="https://app.firstfiddle.in/images/FFIMAGES/1.png" width="90%">
             </div>
             <div class="col-md-3 mb-4">
                 <img src="https://app.firstfiddle.in/images/FFIMAGES/2.png"width="90%">
             </div>
             <div class="col-md-3 mb-4">
                 <img src="https://app.firstfiddle.in/images/FFIMAGES/3.png"width="90%">
             </div>
             <div class="col-md-3 mb-4">
                 <img src="https://app.firstfiddle.in/images/FFIMAGES/4.png"width="90%">
             </div>
             <div class="col-md-3 mb-4">
                 <img src="https://app.firstfiddle.in/images/FFIMAGES/5.png"width="90%">
             </div>
             <div class="col-md-3 mb-4 ">
                 <img src="https://app.firstfiddle.in/images/FFIMAGES/6.png"width="90%">
             </div>
             <div class="col-md-3 mb-4">
                 <img src="https://app.firstfiddle.in/images/FFIMAGES/7.png"width="90%">
             </div>
             <div class="col-md-3 mb-4">
                 <img src="https://app.firstfiddle.in/images/FFIMAGES/8.png"width="90%">
             </div>
         </div>
     </div>

    <!-- OFFLINE END -->


    <!-- ONLINE MENTIONS -->

     <div class="container">
         <div class="row mb-4 pt-4 pb-4">
             <div class="col-md-2"></div>
             <div class="col-md-8" style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important; height: 600px;">
                 <h4 class="text-center mt-4 pt-4">ONLINE MENTIONS</h4>
                 <div class="row">
                     <div class="col-md-6 p-4 text-center">
                         <img src="https://www.firstfiddle.in/assets/images/press/online/et-prime.jpg" width="80%">
                     </div>
                     <div class="col-md-6 scrollable p-4" >
                         <p>FEB 18, 2020</p>
                         <h5>ET PRIME</h5>
                         <p>"Go big, or go home: Lazeez Affaire to Lord of the Drinks, Priyank Sukhija’s success recipe for dining"</p><br>
                         <p>READ FULL ARTICLE</p>
                         <hr>
                         <p>JUL 16,2018</p>

                         <br><br>
                         <h5>ANI</h5>
                         <p>"First Fiddle Restaurants aims top-line growth by 2020; to opt for franchising route to expansion"</p><br>
                         <p>READ FULL ARTICLE</p>
                         <hr>
                         <p>JUL 07,2019</p>
                     </div>
                 </div>
             </div>
             <div class="col-md-2"></div>
         </div>
     </div>

