.img{
    width: 100%;
    margin: 25px 0;
}

.why{
    background-image: url(https://www.firstfiddle.in/assets/images/press-new-1.jpg);
    background-size: cover;
    height: 700px;
}



.scrollable{
    height: 425px;
    overflow-y: scroll;
}

@media(max-width:775px){
    .scrollable{
        height: 145px;
       overflow-y: scroll;
    }
}

.scrollable p{
    color: #0000008f;
    font-family: 'prague';
}



