<div class="container-fluid why1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-white display-3" style="font-weight:bold; font-family: 'prague'; margin-top: 290px;">OUR STORY</h1>
            </div>
        </div>
    </div>
</div>

<!-- ONCE UPON AN AFFAIRE -->

<div class="container -fluid ">
    <h2 class="heading display-6">ONCE UPON <span class="text-warning">AN AFFAIRE</span></h2>
     <div class="container">
        <div class="row">
            <div class="col-md-7 p-4" style="font-family: 'prague'; text-align: justify; line-height: 35px; color: #0000006b;">
                <p>First Fiddle Restaurants, formerly known as The Lazeez Affaire Group, was conceived in the year 1999 by Priyank Sukhija and Y.P. Ashok. Since then, the company has made a name for itself as innovators and leaders in the industry. Starting with their first brand, Lazeez Affaire, Priyank popularised the conceptof fine dining at a time when the same was unheard of. Following its success, First Fiddle introduced the concept of casual dining with brands such as Warehouse Cafe, Tamasha, Lord of The Drinks, Flying Saucer Cafe, and more, storming Delhi’s nightlife. WIth each new brand, First Fiddle brought a concept that was never experienced or heard of before, such as Plum by Bent Chair, Miso Sexy, Diablo, and more. The restaurants are spread all over India in major metropolitan cities like New Delhi, Mumbai, Pune, Lucknow and more, with plans to expand internationally soon.</p>
            </div>
            <div class="col-md-5 pt-4">
                <img src="https://www.firstfiddle.in/assets/images/ffabout.png">
            </div>
        </div>
    </div> --><!--row div end-->
</div><!--container div end-->

<!-- The Gamer Changer -->

<div class="container-fluid why">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h2 class="h2">THE GAME CHANGER</h2>
                <p class="p1 pe-4 ps-4 me-4 ms-4">The company is dedicated to being a game changer in the F&B industry with the introduction of ‘concept’ restaurants. It is committed to catering to the ever-changing cosmopolitan taste of its customers & customer satisfaction is an utmost priority.</p>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div><!--container end-->
</div><!--container end-->


<!-- the gamer changer end -->


<!-- THE MAN BEHIND THE FIDDLE -->

<div class="container -fluid ">
    <h2 class="heading  display-6">THE MAN BEHIND <span class="text-warning">THE FIDDLE</span></h2>
     <div class="container">
        <div class="row">
             <div class="col-md-4 p-4 ">
                <img src="https://www.firstfiddle.in/assets/images/about/about-priyank.jpg">
            </div>
            <div class="col-md-8 p-4" style="font-family: 'prague'; text-align: justify; line-height: 35px; color: #0000006b;">
                <p>With over 30 restaurants in 23 years under his belt, the prolific restaurateur Priyank Sukhija has become somewhat of a legend in the industry, starting his journey at a mere age of 19. Priyank was the first in his family to venture into business, hailing from a family of lawyers, going on to create an empire in F&B. Following his heart and tongue through his F&B career, Priyank has successfully created some of the most talked-about brands in the industry - Diablo, Lord of the Drinks, Plum by Bent Chair, Lazeez Affaire, Tamasha, The Flying Saucer Cafe, and many more.</p>
            </div>
        </div>
    </div><!--row div end-->
</div><!--container div end-->

 <!-- THE MAN BEHIND THE FIDDLE end -->


 <!-- JOIN OUR FAMILY -->

 <div class="container">
  <h2 class="heading pt-3 display-6">JOIN<span class="text-warning">OUR FAMILY</span></h2>
  <br>
  <div class="row">
     <div class="col-md-8 p-4" style="font-family: 'prague'; text-align: justify; line-height: 35px; color: #0000006b;">
                <p>At First Fiddle Restaurants, we leave no stone unturned to provide the most desirable experience across markets and restaurants. Serving over five lakh customers monthly with 15+ brands and 35+ restaurants, our brands like Diablo, Plum by Bent Chair, Dragonfly Experience, Tamasha, Daddy, JLWA, and more have revolutionized the experience of dining & nightlife for everyone. Exploring a franchise with First Fiddle Restaurants provides you with a large existing customer base besides the added advantage of nation-wide recognition.</p>
                <button class="btn btn-warning text-white mt-3">FRANCHISE WITH US</button>
            </div>
    <div class="col-md-4 text-center">
      <img src="https://www.firstfiddle.in/assets/images/about/333X3322.jpg" class="img">
    </div>
  </div>
  <!--row end-->
</div><!--container end-->
