 <!-- header image -->


 <div class="container-fluid why">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-white display-2" style="font-weight:bold; font-family: 'prague'; margin-top: 290px;">CONTACT US</h1>
            </div>
        </div>
    </div>
</div>

<!-- header image end -->



<!-- send us message and contact info -->

<div class="container-fluid p-4 m-4" style="color: #000000ad; font-family: 'prague';">
    <div class="row">
        <div class="col-md-6 pe-4 ps-4">
            <h4>SEND US MESSAGE</h4>
            <br>
            <input type="text" name="" placeholder="Name" class="form-control"><br>
            <input type="email" name="" placeholder="Email" class="form-control"><br>
            <input type="phone" name="" placeholder="Phone" class="form-control"><br>
            <textarea class="form-control" rows="2" placeholder="Email"></textarea><br>
            <button class="btn btn-warning">Submit</button>
        </div>
        <div class="col-md-6 pe-4 ps-4 ">
            <h4>CONTACT INFO</h4><br>
            <strong class="text-warning">Address</strong>
            <p>6, Chanakyapuri Shopping Complex, 48, Malcha Marg, New Delhi 110021</p>
            <strong class="text-warning">For Franchise Enquiry</strong>
            <p>Mobile:<b class="text-warning">+91 9313663486</b><br>Email:<b class="text-warning">franchise@firstfiddle.in</b></p>
            <strong class="text-warning">For HR Enquiry</strong>
             <p>Mobile:<b class="text-warning"> +91 9999304427</b><br>Email:<b class="text-warning"> careers@firstfiddle.in</b></p>
             <strong class="text-warning">For Other Enquiry</strong>
             <p>Phone:<b class="text-warning">7676380000</b><br>Email:<b class="text-warning"> customercare@firstfiddle.in</b><br>open:Monday-Saturday 10:30-19:30</p>
        </div>
    </div>
</div>


 <!-- send us message and contact info -->
