<div class="carousel slide" data-bs-ride="carousel" id="z">

    <div class="carousel-indicators">

      <button type="button" data-bs-target="#z" data-bs-slide-to="0" class="active"></button>

      <button type="button" data-bs-target="#z" data-bs-slide-to="1" ></button>
      <button type="button" data-bs-target="#z" data-bs-slide-to="2" ></button>
      <button type="button" data-bs-target="#z" data-bs-slide-to="3" ></button>
      <button type="button" data-bs-target="#z" data-bs-slide-to="4" ></button>
    </div>

    <div class="carousel-inner">

      <div class="carousel-item active" data-bs-interval="4000">

        <img src="https://www.firstfiddle.in/assets/images/home%20page%20banner/bougie.jpg" class="w-100" alt="...">
        <div class="carousel-caption">
          <!-- <h2>HEllo GWalior</h2> -->
        </div>  
      </div>

      <div class="carousel-item " data-bs-interval="4000">

      <img src="https://www.firstfiddle.in/assets/images/home%20page%20banner/miso.jpg" class="w-100" alt="...">
      <div class="carousel-caption">
        <!-- <h2>HEllo GWalior</h2> -->
      </div> 
      </div>
      <div class="carousel-item " data-bs-interval="4000">

        <img src="https://www.firstfiddle.in/assets/images/home%20page%20banner/diablo.jpg" class="w-100" alt="...">
        <div class="carousel-caption">
          <!-- <h2>HEllo GWalior</h2> -->
        </div> 
      </div>
      <div class="carousel-item " data-bs-interval="4000">

          <img src="https://www.firstfiddle.in/assets/images/home%20page%20banner/lotd.jpg" class="w-100" alt="...">
          <div class="carousel-caption">
            <!-- <h2>HEllo GWalior</h2> -->
          </div> 
      </div>
      <div class="carousel-item " data-bs-interval="4000">

        <img src="	https://www.firstfiddle.in/assets/images/home%20page%20banner/lotd.jpg" class="w-100" alt="...">
        <div class="carousel-caption">
          <!-- <h2>HEllo GWalior</h2> -->
        </div> 
      </div>
    </div><!--  carousel-inner  end-->


    <button class="carousel-control-prev" type="button" data-bs-target="#z" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </button>
   <button class="carousel-control-next" type="button" data-bs-target="#z" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
   </button>
</div><!--carousel end-->