<div class="container-fluid why">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 why1 bg-yellow text-center pt-4">
                <b class=" text-white">Inquiry Form</b>
                <hr class="text-white">
                <p>For more information about how you can become the part of First Fiddle Restaurants, submit your information below and the Franchise Manager will get in touch with you.</p>
                <div class="row">
                    <div class="col-md-6 text-start">
                        <h6>Name*</h6>
                        <input type="text" placeholder="Name" class="form-control"><br>
                        <h6>Email*</h6>
                        <input type="text" placeholder="Email" class="form-control"><br>
                        <h6>Investment Budget*</h6>
                        <select class="form-control">
                            <option>Investment Budget</option>
                            <option>1 cr to 2 cr</option>
                            <option>2 cr to 3 cr</option>
                            <option>3 cr to 4 cr</option>
                            <option>4 cr to above</option>
                        </select>
                    </div>
                    <div class="col-md-6 text-start">
                        <h6>Mobile*</h6>
                        <input type="text" placeholder="Mobile" class="form-control"><br>
                        <h6>Buisness Location*</h6>
                        <input type="text" placeholder="Buisness Location" class="form-control"><br>
                        <h6>Brand*</h6>
                        <select class="form-control">
                            <option>Select a Brand</option>
                            <option>Lord of the drinks</option>
                            <option>Drangonfly Experience</option>
                            <option>Plum by bentchair</option>
                            <option>The flying saucer cafe</option>
                            <option>Lord of the drinks</option>
                            <option>Drangonfly Experience</option>
                            <option>Plum by bentchair</option>
                            <option>The flying saucer cafe</option>
                        </select><br>
                    </div>
                </div>
                <h6 class="text-start">Message*</h6>
                <textarea class="form-control" rows="2" placeholder="Message"></textarea><br>
                <button class="btn btn-secondary">Submit Form</button><br><br>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 ps-5">
    <div class="row">
        <div class="col-md-6 p-3 ">
            <h2 class="heading">LARGEST RESTAURANT CHAIN <span style="color: orange; font-family: 'prague';"  >OF INDIA</span></h2>
            <p style="color: #0000006b; letter-spacing: 2px; font-size: 16px; word-spacing: 3px;">First Fiddle Restaurants, one of the india’s largest F&B company in the casual dining sector, is headed by Priyank Sukhija. From Lazeez Affair, the first brand conceived in 1999 to Dragonfly Experience and Plum By Bent Chair, its latest ventures, it has brought a wave of innovation in the hospitality industry.
                It has been lauded with an endless number of awards by ‘Times Nightlife’, ‘GQ’, ‘Indian Restaurant Awards’- to name a few. With more than 35 brands under its name such as Lord Of The Drinks, Tamasha, The Flying Saucer Café, JLWA, it has grown manifold in the past 20 years and continues to do so.</p>
        </div>
        <div class="col-md-6 p-4 text-center mt-4">
            <img src="https://www.firstfiddle.in/assets/images/local9.png">
        </div>
    </div>
</div>

<div class="container">
    <h2 class="mt-5 mb-4 text-center">EXPLORE <span class="text-warning">OUR BRANDS</span></h2>
<div class="row">
    <div class="carousel slide" data-bs-ride="carousel" id="z">

        <div class="carousel-indicators">
    
          <button type="button" data-bs-target="#z" data-bs-slide-to="0" class="active"></button>
    
          <button type="button" data-bs-target="#z" data-bs-slide-to="1" ></button>
          <button type="button" data-bs-target="#z" data-bs-slide-to="2" ></button>
        </div>
    
        <div class="carousel-inner text-center">
    
          <div class="carousel-item active" data-bs-interval="4000">
    
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/bougie.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>  
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/miso.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div> 
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/butter-room.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/diablo.jpg" class="w-20" alt="...">
            <div class="carousel-caption">
                <!-- <h2>HEllo GWalior</h2> -->
              </div> 
          </div>

          <div class="carousel-item " data-bs-interval="4000">
    
            <img src="	https://www.firstfiddle.in/assets/images/explore_brand/lazeez.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>  
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/lord-of--the--drinks.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div> 
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/openhouse.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>
            <img src="	https://www.firstfiddle.in/assets/images/explore_brand/plum.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
                <!-- <h2>HEllo GWalior</h2> -->
              </div> 
          </div>

          <div class="carousel-item" data-bs-interval="4000">
    
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/dragonfly.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>  
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/noche.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div> 
            <img src="	https://www.firstfiddle.in/assets/images/explore_brand/daddy.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/warehouse.jpg" class="w-20" alt="...">
            <div class="carousel-caption">
                <!-- <h2>HEllo GWalior</h2> -->
              </div> 
          </div>
    
        </div><!--  carousel-inner  end-->
    
    
        <button class="carousel-control-prev" type="button" data-bs-target="#z" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </button>
       <button class="carousel-control-next" type="button" data-bs-target="#z" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
       </button>
    </div><!--carousel end-->
</div>

<!-- <div class="row mt-5 mb-5">
    <div class="col-md-3 text-center">
        <img src="https://www.firstfiddle.in/assets/images/explore_brand/lord-of--the--drinks.jpg">
    </div>
    <div class="col-md-3 text-center">
        <img src="https://www.firstfiddle.in/assets/images/explore_brand/noche.jpg">
    </div>
    <div class="col-md-3 text-center">
        <img src="https://www.firstfiddle.in/assets/images/explore_brand/butter-room.jpg">
    </div>
    <div class="col-md-3 text-center">
        <img src="https://www.firstfiddle.in/assets/images/explore_brand/plum.jpg">
    </div>
</div> -->
</div>


<div class="container-fluid ourteam">
    <div class="row ps-4 pe-4 pt-2">
        <div class="col-md-5 mt-4">
            <div class="card shadow-lg">
                <img src="https://www.firstfiddle.in/assets/images/priyank-our%20team.jpg" alt="">
            </div>
        </div>
        <div class="col-md-7 p-4">
                <h2>Priyank Sukhija</h2>
                <h5>C.E.O. & M.D.</h5>
                <p class="mt-4" style="font-family: 'prague'; text-align: justify; line-height: 35px; color: #0000006b;">A 19-year-old dropout kid, who was just setting up his first venture, envisioned what nobody thought would make him a business tycoon in the hospitality industry. Once he began, there was no stopping this entrepreneur from reaching the heights he has reached today. It is the passion and creative streak of Priyank Sukhija that has made him the most watched-out restaurateur of today’s time. Coming from a family of lawyers, he ventured into the business world on his own with Lazeez Affaire in 1999 and has never looked back since.</p>
                <button class="btn btn-warning text-white">Read More</button><br>
                <i class="fa-brands fa-facebook-f text-white bg-warning"></i>
                <i class="fa-brands fa-twitter text-warning"></i>
                <i class="fa-brands fa-instagram text-warning"></i>
            </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row ps-4 pe-4 mb-4 pb-4">
        <div class="col-md-4 mt-4 mb-4">
            <div class="card shadow-lg">
                <img src="https://app.firstfiddle.in/images/ff_meet_team/YPAshok.jpg" alt="">
                <div class="boxcontent">
                    <h5>Y. P. ASHOK</h5>
                    <span>Chairman</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mb-4">
            <div class="card shadow-lg">
                <img src="https://app.firstfiddle.in/images/ff_meet_team/B.R.-Sachdeva.jpg" alt="">
                <div class="boxcontent">
                    <h5>B.R. SACHDEVA</h5>
                    <span>Director Finance & Legal</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mb-4">
            <div class="card shadow-lg">
                <img src="https://app.firstfiddle.in/images/ff_meet_team/Sagar-Bajaj.jpg" alt="">
                <div class="boxcontent">
                    <h5>SAGAR BAJAJ</h5>
                    <span>Corporate Chef</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mb-4">
            <div class="card shadow-lg">
                <img src="https://app.firstfiddle.in/images/ff_meet_team/JAY-PHOTO-1-1.jpg" alt="">
                <div class="boxcontent">
                    <h5>JAY SHANKAR NATRAJ</h5>
                    <span>Franchise Lead</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mb-4">
            <div class="card shadow-lg">
                <img src="https://app.firstfiddle.in/images/ff_meet_team/vibhutiPR.jpg" alt="">
                 <div class="boxcontent">
                    <h5>VIBHUTI SOOD</h5>
                    <span>PR And Communications Head</span>
                </div>
            </div>
        </div>
    </div>
</div>

