<div class="container-fluid why">
   <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-white display-1" style="font-weight:bold; font-family: 'prague'; margin-top: 290px;">BRANDS</h1>
            </div>
        </div>
    </div>
</div><!--container fluid div end-->

<div class="container -fluid">
     <div class="row">
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-04-700x466.jpg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-07-700x466.jpg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/Untitled-design-min.jpg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/fly-logo-resize-02.png" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-02.jpg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-03-700x466.jpg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-02-1-700x466.jpg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/logo-resize-01-700x466.jpg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/daddy-logo.jpg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/diablo.jpg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/misosexy_logo.png" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://firstfiddle.in/assets/images/butterroom.jpg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://app.firstfiddle.in/images/logo_image/bougie.jpeg" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://firstfiddle.s3.ap-south-1.amazonaws.com/restaurents/logo/NocheLogo.png" class="img">
        </div>
        <div class="col-md-4 text-center">
            <img src="https://firstfiddle.s3.ap-south-1.amazonaws.com/sections/TIkelPink.png" class="img">
        </div>
    </div> --><!--row div end-->
</div><!--container fluid div end-->