<div class="container-fluid why">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-white display-3" style="font-weight:bold; font-family: 'prague'; margin-top: 290px;">MEET THE TEAM</h1>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid ourteam">
    <div class="row ps-4 pe-4 pt-2">
        <div class="col-md-5 mt-4">
            <div class="card shadow-lg">
                <img src="https://www.firstfiddle.in/assets/images/priyank-our%20team.jpg" alt="">
            </div>
        </div>
        <div class="col-md-7 p-4">
                <h2>Priyank Sukhija</h2>
                <h5>C.E.O. & M.D.</h5>
                <p class="mt-4" style="font-family: 'prague'; text-align: justify; line-height: 35px; color: #0000006b;">A 19-year-old dropout kid, who was just setting up his first venture, envisioned what nobody thought would make him a business tycoon in the hospitality industry. Once he began, there was no stopping this entrepreneur from reaching the heights he has reached today. It is the passion and creative streak of Priyank Sukhija that has made him the most watched-out restaurateur of today’s time. Coming from a family of lawyers, he ventured into the business world on his own with Lazeez Affaire in 1999 and has never looked back since.</p>
                <button class="btn btn-warning text-white">Read More</button><br>
                <i class="fa-brands fa-facebook-f text-white bg-warning"></i>
                <i class="fa-brands fa-twitter text-warning"></i>
                <i class="fa-brands fa-instagram text-warning"></i>
            </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row ps-4 pe-4 mb-4 pb-4">
        <div class="col-md-4 mt-4 mb-4">
            <div class="card shadow-lg">
                <img src="https://app.firstfiddle.in/images/ff_meet_team/YPAshok.jpg" alt="">
                <div class="boxcontent">
                    <h5>Y. P. ASHOK</h5>
                    <span>Chairman</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mb-4">
            <div class="card shadow-lg">
                <img src="https://app.firstfiddle.in/images/ff_meet_team/B.R.-Sachdeva.jpg" alt="">
                <div class="boxcontent">
                    <h5>B.R. SACHDEVA</h5>
                    <span>Director Finance & Legal</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mb-4">
            <div class="card shadow-lg">
                <img src="https://app.firstfiddle.in/images/ff_meet_team/Sagar-Bajaj.jpg" alt="">
                <div class="boxcontent">
                    <h5>SAGAR BAJAJ</h5>
                    <span>Corporate Chef</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mb-4">
            <div class="card shadow-lg">
                <img src="https://app.firstfiddle.in/images/ff_meet_team/JAY-PHOTO-1-1.jpg" alt="">
                <div class="boxcontent">
                    <h5>JAY SHANKAR NATRAJ</h5>
                    <span>Franchise Lead</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-4 mb-4">
            <div class="card shadow-lg">
                <img src="https://app.firstfiddle.in/images/ff_meet_team/vibhutiPR.jpg" alt="">
                 <div class="boxcontent">
                    <h5>VIBHUTI SOOD</h5>
                    <span>PR And Communications Head</span>
                </div>
            </div>
        </div>
    </div>
</div>
