<app-slider></app-slider>
<div class="container mt-4">
    <h2 class="a">WELCOME TO <b style="color:#fbaa1a">FIRST FIDDLE</b></h2>
    <br>
    <div class="row">
      <div class="col-md-7">
        <p class="b">
          First Fiddle Restaurants, one of India’s most prominent F&B
          companies in the casual dining sector, is headed by Priyank Sukhija.
          Starting the journey from Lazeez Affair in 1999 to Miso Sexy and
          Bougie in 2022, we have created wave after wave in the industry with
          over 30+ restaurants, brands, and franchises across India.'
        </p>
      </div>
      <div class="col-md-5 text-center">
        <img src="https://www.firstfiddle.in/assets/images/ffbanner1.jpg" class="img">
      </div>
    </div>
    <!--row end-->
  </div><!--container end-->

  <div class="container-fluid why">
      <div class="container">
          <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8 text-center">
                  <h2 class="h2">MEDIA MENTIONS</h2>
                  <p class="p1">We’ve been making splashes and headlines since 1999 for our innovative concepts and aesthetic ideations, experimental gastronomic affairs, and exotic mixology. We’ve made our way from the heart of the country into the hearts of its people!</p>         
                      <button class="btn btn-warning text-white">KNOW MORE</button>     
              </div>
              <div class="col-md-2">
              </div>
          </div>
      </div><!--container end-->
  </div><!--container end-->

  <div class="container">
    <h2 class="mt-5 mb-4 text-center">EXPLORE <span class="text-warning">OUR BRANDS</span></h2>
<div class="row">
    <div class="carousel slide" data-bs-ride="carousel" id="z">

        <div class="carousel-indicators">
    
          <button type="button" data-bs-target="#z" data-bs-slide-to="0" class="active"></button>
    
          <button type="button" data-bs-target="#z" data-bs-slide-to="1" ></button>
          <button type="button" data-bs-target="#z" data-bs-slide-to="2" ></button>
        </div>
    
        <div class="carousel-inner text-center">
    
          <div class="carousel-item active" data-bs-interval="4000">
    
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/bougie.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>  
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/miso.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div> 
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/butter-room.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/diablo.jpg" class="w-20" alt="...">
            <div class="carousel-caption">
                <!-- <h2>HEllo GWalior</h2> -->
              </div> 
          </div>

          <div class="carousel-item " data-bs-interval="4000">
    
            <img src="	https://www.firstfiddle.in/assets/images/explore_brand/lazeez.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>  
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/lord-of--the--drinks.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div> 
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/openhouse.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>
            <img src="	https://www.firstfiddle.in/assets/images/explore_brand/plum.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
                <!-- <h2>HEllo GWalior</h2> -->
              </div> 
          </div>

          <div class="carousel-item" data-bs-interval="4000">
    
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/dragonfly.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>  
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/noche.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div> 
            <img src="	https://www.firstfiddle.in/assets/images/explore_brand/daddy.jpg" class="w-20 pe-2" alt="...">
            <div class="carousel-caption">
              <!-- <h2>HEllo GWalior</h2> -->
            </div>
            <img src="https://www.firstfiddle.in/assets/images/explore_brand/warehouse.jpg" class="w-20" alt="...">
            <div class="carousel-caption">
                <!-- <h2>HEllo GWalior</h2> -->
              </div> 
          </div>
    
        </div><!--  carousel-inner  end-->
    
    
        <button class="carousel-control-prev" type="button" data-bs-target="#z" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        </button>
       <button class="carousel-control-next" type="button" data-bs-target="#z" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
       </button>
    </div><!--carousel end-->
</div>

<!-- <div class="row mt-5 mb-5">
    <div class="col-md-3 text-center">
        <img src="https://www.firstfiddle.in/assets/images/explore_brand/lord-of--the--drinks.jpg">
    </div>
    <div class="col-md-3 text-center">
        <img src="https://www.firstfiddle.in/assets/images/explore_brand/noche.jpg">
    </div>
    <div class="col-md-3 text-center">
        <img src="https://www.firstfiddle.in/assets/images/explore_brand/butter-room.jpg">
    </div>
    <div class="col-md-3 text-center">
        <img src="https://www.firstfiddle.in/assets/images/explore_brand/plum.jpg">
    </div>
</div> -->
  </div>


  <div class="container-fluid why">
      <div class="container">
          <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-8 text-center">
                  <h2 class="h2">EXPERIENCE OUR CONCEPTS</h2>
                  <p class="p1">Moving beyond just offering Indian, international, and fusion cuisines, our restaurants create magic with our special events, mood-setting music, Insta-worthy aesthetics, and tongue-tingling signatures! Head over to experience it for yourself!</p>               
                      <button class="btn btn-warning text-white">KNOW MORE</button>                  
              </div>
              <div class="col-md-2">
              </div>
          </div>
      </div><!--container end-->
  </div><!--container end-->